.cars_title {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    color: #fff;
    justify-content: center;
    flex-direction: column;
}
.cars_title h1 {
    color: #fff;
    margin: 0 auto;
}
.cars_title p {
    color: #fff;
}
.map {
    margin-left: 650px;
}